{% extends "base.html" %}
{% block body %}

<br><br>
    <h1>FRIENDS</h1>
    <br>
    {% for friend in list_of_friends %}
    <div class="results">

        <h3>{{ friend.display_name }}  -  ({{ friend.user_id }})</h3>
        
        <form method="POST" action="/remove_friend/{{ friend.user_id }}">
            {{ form2.hidden_tag() }}
            {{ form2.submit }}
        </form>
        
    </div>
    {% endfor %}

    {% if received_requests %}
        <h1>received requests:</h1>
        {% for friend in received_requests %}
            <p>{{ friend.display_name }}  -  ({{ friend.user_id }})</p>
            
            <form method="POST" action="/add_friend/{{ friend.user_id }}">
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </form>

            <br>

            <form method="POST" action="/remove_friend_request/{{ friend.user_id }}">
                {{ form3.hidden_tag() }}
                {{ form3.submit(value="X") }}
            </form>
        {% endfor %}
    {% endif %}
    
    {% if sent_requests %}
        <h1>sent requests:</h1>
        <br>
        {% for friend in sent_requests %}
            <p>{{ friend.display_name }}  -  ({{ friend.user_id }})</p>
        {% endfor %}
    {% endif %}

{% endblock body %}