{% extends "base.html" %}
{% block body %}

    <br><br>
    <h1>{{ question.upper() }}</h1>
    {% if True %}
        <form class="answer" action="{{ url_for('answer') }}">
            <input class="answer" type="submit" value="answer" />
        </form>
    {% endif %}

    <br><br>
    
    {% if answers[0] == 0 %}
        <p>Post to see other's posts!!</p>
    {% else %}
        {% for i in range(length) %}
                {% if answers[i] != 0 %}
                    <h2>{{ names[i] }}</h2>
                    <h3>{{ answers[i] }}</h3>
                    <br>
                {% endif %}
        {% endfor %}
    {% endif %}

{% endblock body %}