{% extends "base.html" %}
{% block body %}
    <h2>question:</h2>
    <p>{{ question }}</p>
    {% if True %}
        <form action="{{ url_for('answer') }}">
            <input type="submit" value="answer" />
        </form>
    {% endif %}

    <br><br>
    
    {% if answers[0] == 0 %}
        <p>Post to see other's posts!!</p>
    {% else %}
        {% for i in range(length) %}
                {% if answers[i] != 0 %}
                    <h3>{{ names[i] }}:</h3>
                    <p>{{ answers[i] }}</p>
                {% endif %}
        {% endfor %}
    {% endif %}

{% endblock body %}