{% extends "base.html" %}
{% block body %}
    <h1>profile</h1>

    <h3> display name: {{ display_name }}</h3>
    <h3> email: {{ email }}</h3>
    <h3> user id: {{ user_id }}</h3>

    <form action="{{ url_for('logout') }}">
        <input type="submit" value="logout" />
    </form>

    <br><br><br>

    {% if current_user.user_id == 29 %}
        <form action="{{ url_for('add_question') }}">
            <input type="submit" value="add question page" />
        </form>
    {% endif %}

{% endblock body %}