{% extends "base.html" %}
{% block body %}
<br><br>
    <h1>Profile</h1>
    <br>

    <h2> display name: {{ display_name }}</h2>
    <br>
    <h2> email: {{ email }}</h2>
    <br>
    <h2> user id: {{ user_id }}</h2>
    <br>

    <form class="submit" action="{{ url_for('logout') }}">
        <input class="submit" type="submit" value="logout" />
    </form>

    <br><br><br>

    {% if current_user.user_id == 29 %}
        <form action="{{ url_for('add_question') }}">
            <input type="submit" value="add question page" />
        </form>
    {% endif %}

{% endblock body %}