<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="static/styles.css">
    <title>QOTD</title>
</head>
<body>
    
    {% if email %}
        <h1>this is your email: {{ email}} </h1>
    {% else %}
    <div class="register">

        <form method="POST" action="/register">
            <h1>Register</h1>
            {{ form.hidden_tag() }}
            
            {{ form.email.label }}
            {{ form.email(class="search") }}
            <br>
            {{ form.display_name.label }}
            {{ form.display_name(class="search") }}
            <br>
            {{ form.password.label }}
            {{ form.password(class="search") }}
            <br>
            {{ form.submit(value="Register",class="submit") }}
            
        </form>
        
        
        <form class="submit" action="{{ url_for('login') }}">
            <input class="submit" type="submit" value="Login" />
        </form>
        
    </div>
    {% endif %}

</body>
</html>
