{% extends "base.html" %}
{% block body %}

    <form method="POST" action="/search_friends">
        <h1>search for friend</h1>
        {{ form.hidden_tag() }}
        {{ form.search.label }}
        {{ form.search() }}
        {{ form.submit() }}
    </form>

    {% if search_results %}
        <h3>search results:</h3>
        {% for friend in search_results %}
            <p>{{ friend }}</p>
            <form method="POST" action="/friend_request_sent/{{ friend.user_id }}">
                {{ form2.hidden_tag() }}
                {{ form2.submit }}
            </form>
        {% endfor %}
    {% else %}
        <h3>No Results</h3>
    {% endif %}

    
{% endblock body %}